<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--Change level from off to one of below to enable
        ALL < DEBUG < INFO < WARN < ERROR < FATAL < OFF
        -->
        <Logger name="CLIParser" level="off" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="Main" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="BasicScheduler" level="off" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="StateManager" level="off" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="ByteStateManager" level="off" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>