* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FBFCFC;
    -fx-primarytext : #FBFCFC;
}

.tab {
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}

.root{
    -fx-background-color: -fx-primary;
}

.glyph-icon
{
    -fx-fill: -fx-primarytext;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}


.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

.tab{
    -fx-background-color: -fx-primary;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

.tab-label{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 10pt;
}

.label {
    -fx-text-fill: -fx-secondary;
}

.tab-main{
    -fx-pref-height : 60;
    -fx-max-height : 60;
}

.text-field
{
    -fx-text-fill: -fx-secondary;
}

.main-text
{
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.jfx-layout-heading
{
    -fx-background-color: -fx-color-1;
}
.jfx-layout-heading .label
{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}
.jfx-layout-body, .jfx-layout-actions{
    -fx-background-color: -fx-primary;
}
.jfx-layout-body .label
{
    -fx-text-fill: white;
    -fx-padding: 20px 0 0 0;
}

.common-label {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 12pt;
}
